.field_with_errors {
  label {
    color: $alert-color;
  }
  input {
    border: solid 1px $alert-color;
    margin: 0;
    &:focus {
      border: solid 1px $alert-color;
    }
  }
  input.under-bar-form {
    border-bottom: solid 1px $alert-color !important;
    background-color: white;
    margin: 0;
  }
}

.has-error {
  color: $alert-color;
}
