.top-bar {
  .menu-text {
    color: $alert-color;
    font-size: 1.5rem;
    padding-top: 0.4rem;
    padding-left: 0;
  }
  .header-small-accordion {
    float: right;
  }
  .accordion-heder {
    padding-left: 0;
    padding-right: 0;
  }
  .is-dropdown-submenu-parent {
    &:hover {
      color: $alert-color !important;
    }
  }
  a {
    font-weight: bold;
    &:hover {
      color: $alert-color;
    }
  }
}

.card-section {
  .button {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  .text-center {
    font-weight: bold;
    color: $gray;
  }
}