.field_with_errors {
  label {
    color: red;
  }
  input {
    border-bottom: solid 2px red !important;
    background-color: #f7e4e1;
    margin: 0;
  }
  input.under-bar-form {
    border-bottom: solid 1px red !important;
    background-color: white;
    margin: 0;
  }
}

.has-error {
  color: red;
}
